[submodule "cubrid-dbeaver-external/dbeaver"]
	path = cubrid-dbeaver-external/dbeaver
	url = https://github.com/dbeaver/dbeaver.git
[submodule "cubrid-dbeaver-external/dbeaver-common"]
	path = cubrid-dbeaver-external/dbeaver-common
	url = https://github.com/dbeaver/dbeaver-common.git
